@model IEnumerable<JobPortal.Models.JobPostActivity>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Manage Application</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<form asp-controller="JobPostActivities" asp-action="Index">
    <p>
        <input type="text" name="SearchString" placeholder="Enter Application" />
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAccount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPost.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAccount.Id)
            </td>
               <td>
                <a asp-action="Delete" asp-route-id="@item.UserAccountId" >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>

