@using PagedList.Mvc;
@using PagedList;
@using System.Web;
@model IEnumerable<JobPortal.Models.JobPost>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Manage JobPosts</h1>

<p>
    <a asp-action="Create" class= "btn btn-primary">Create New</a>
</p>

<form asp-controller="JobPosts" asp-action="Index">
    <p>
        <input type="text" name="SearchString" placeholder="Enter Job" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
   
    <thead>
        <tr>
            <th>
                Created Date
            </th>
            <th>
                JobDescription
            </th>
            <th>
                Location
            </th>
            <th>
                Company
            </th>
            <th>
                JobType
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobType.JobType1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
</div>
@*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",new { page }))*@

